<%- include('../blocks/header') %>
<link rel="stylesheet" href="/css/file-directory.css" type="text/css">
<div id="wrapper">
  <!-- Sidebar -->
  <%- include('../blocks/sidebar', { size: Number(user.size), formatBytes }) %>
  <div class="container-fluid" style="padding:0px 30px 0px;">
    &nbsp;
    <%- include('../partials/message', { error })%>
    <!--New add on-->
    <div class="row">
      <div class="col-md-10 col-lg-10">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/files">Home</a></li>
            <% for (var name of path.split('/').slice(2, path.length)) { %>
              <li class="breadcrumb-item active">
                <a href=<%= `/${path.split('/').slice(1, path.split('/').indexOf(name)+1).join('/')}` %>><%= name%></a>
              </li>
            <% } %>
          </ol>
        </nav>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="btn-group" style="float:right">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Upload</button>
          <div class="dropdown-menu dropdown-menu-right">
            <form action="/files/upload" method="post" encType="multipart/form-data" ref='uploadForm' id='uploadForm' >
              <label class="dropdown-item" type="button" id="fileHover">
                Files<input type="file" hidden name="sampleFile" id="upload-input">
              </label>
              <input type="hidden" value="<%= path%>" name="path">
              <label class="dropdown-item" type="button" id="fileHover">
                Folders<input type="file" hidden name="sampleFile" webkitdirectory mozdirectory id="upload-input-2">
              </label>
              <button type="submit" style="display:none;" id="imagefile"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    &nbsp
    <table class="table" id="myTable" >
      <thead>
        <tr>
          <th scope="col" style="width:5%" class="dot">
            <div class="form-check form-check-inline hide">
              <input onClick="updateAll();" class="form-check-input" type="checkbox" name="exampleRadios" id="All" data-option="0">
            </div>
          </th>
          <th id="Type" scope="col">Type</th>
          <th id="Name" scope="col">Name</th>
          <th id="Size" scope="col">Size</th>
          <th id="Date modified" scope="col">Date modified</th>
        </tr>
      </thead>
      <tbody>
        <!--Show folders first-->
        <% for (const file of files.children.filter(file => file.type == 'directory')) { %>
          <tr onClick="updateValue('<%= encodeURI(file.name) %>');">
            <th class="dot">
              <div class="form-check form-check-inline hide">
                <input onClick="updateValue('<%= encodeURI(file.name) %>');" class="form-check-input" type="checkbox" name="exampleRadios" id="<%= encodeURI(file.name) %>" data-option="0">
              </div>
            </th>
            <th id="Type" scope="col">Type</th>
            <th scope="row" class="text-truncate" style="min-width: 150px;">
              <a href="<%= decodeURI(`${path == '/' ? '/files' : path}/${file.name}`) %>"><%= file.name %></a>
              <!-- Default dropright button -->
            </th>
            <td data-trueValue="<%= file.children?.length ?? 0 %>"><%= file.children?.length ?? 0 %> files</td>
            <td data-trueValue="<%= file.modified.getTime()%>"><%= file.modified?.toDateString() %></td>
          </tr>
        <% } %>

        <% for (const file of files.children.filter(file => file.type == 'file')) { %>
          <tr onClick="updateValue('<%= encodeURI(file.name) %>');">
            <th class="dot">
              <div class="form-check form-check-inline hide">
                <input onClick="updateValue('<%= encodeURI(file.name) %>');" class="form-check-input" type="checkbox" name="exampleRadios" id="<%= encodeURI(file.name) %>" data-option="0">
              </div>
            </th>
            <th id="Type" scope="col">Type</th>
            <th scope="row" class="text-truncate" style="max-width: 150px;"> <a href="<%= decodeURI(`${path == '/' ? '/files' : path}/${file.name}`) %>"><%= file.name %></a></th>
            <td data-trueValue="<%= file.size%>"><%= formatBytes(file.size) %></td>
            <td data-trueValue="<%= file.modified.getTime()%>"><%= file.modified?.toDateString() %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div class="progress">
      <div class="progress-bar" role="progressbar"></div>
    </div>
    <%if (!files.children[0]) { %>
      <div >
        <h4>You should upload some files here!</h4>
      </div>
    <% } %>
  </div>
  <p id="user_id" style="display:none;"><%= user._id %></p>
</div>
<script type="text/javascript" src="/js/file-directory.js"></script>
