<%- include('../blocks/header', { auth: auth }) %>
<div class="container-fluid">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  &nbsp;
    <p>File preview</p>
    <% if (fileInfo.extension == '.mp4') { %>
      <%- include('../partials/video-player', { video: file, domain })%>
    <% } else if (['.png', '.gif', '.jpg'].includes(fileInfo.extension)) { %>
      <img class="lozad" data-src="http://86.25.177.233:1111/user-content/<%=  file%>" style="width:50%;align:center;" />
    <% } else if (['.html', '.js', '.css'].includes(fileInfo.extension)) { %>
      <!--script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script-->
      <script src="https://unpkg.com/prettier@2.4.0/standalone.js"></script>
      <script src="https://unpkg.com/prettier@2.4.0/parser-graphql.js"></script>
      <!--pre class="prettyprint  linenums">
        <%= file.toString()%>
      </pre-->
    <% } %>
    <a href="<%= domain%>/user-content/<%=  file%>" download>Download</a>
</div>
<%- include('../blocks/footer') %>
<script>
  $(document).ready(function($) {
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  })
</script>
