<%- include('../blocks/header', { user }) %>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<link href="/css/style.css" rel="stylesheet">
<div class="container">
  &nbsp;
  <%- include('../partials/message', { error })%>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="card border-0 rounded-3 my-5" style="box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75)" data-aos="zoom-out" data-aos-delay="100">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
          <form action="/user/register" method="POST">
            <div class="form-floating mb-3">
              <label for="name">Name: </label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="<%= typeof name != 'undefined' ? name : '' %>" />
            </div>
            <div class="form-floating mb-3">
              <label for="email">E-mail: </label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
            <div class="form-floating mb-3" id="show_hide_password">
              <label for="password">Password: </label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
            </div>
            <div class="form-floating mb-3" id="show_hide_password">
              <label for="password2">Confirm password: </label>
              <div class="input-group" id="show_hide_password">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                <div class="input-group-prepend">
                  <div class="input-group-text"><a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
            <div class="d-grid" style="padding-left:79%">
              <button class="btn btn-primary text-uppercase fw-bold" type="submit">Sign up</button>
            </div>
            <h5 style="text-align: center">or sign in via</h5>
            <div class="d-flex justify-content-center">
              <a class="btn btn-google btn-login text-uppercase fw-bold" href="/auth/google">
                <i class="fab fa-google me-2"></i>
              </a>
              &nbsp;
              <a class="btn btn-facebook btn-login text-uppercase fw-bold" href="/auth/facebook">
                <i class="fab fa-facebook-f me-2"></i>
              </a>
              &nbsp;
              <a class="btn btn-twitter btn-login text-uppercase fw-bold" href="/auth/twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
      event.preventDefault();
      if ($('#show_hide_password input').attr("type") == "text") {
        $('#show_hide_password input').attr('type', 'password');
        $('#show_hide_password i').addClass("fa-eye-slash");
        $('#show_hide_password i').removeClass("fa-eye");
      } else if ($('#show_hide_password input').attr("type") == "password") {
        $('#show_hide_password input').attr('type', 'text');
        $('#show_hide_password i').removeClass("fa-eye-slash");
        $('#show_hide_password i').addClass("fa-eye");
      }
    });
  });
</script>

<style>
  body {
    background: linear-gradient(to right, #30ADFD, #66C1FC);
  }
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  .btn-facebook {
    font-size: 1rem;
    color: white !important;
    background-color: #3b5998;
    padding: 0.75rem 1.1rem;
  }
  .btn-twitter {
    font-size: 1rem;
    color: white !important;
    background-color: #1da1f2;
  }
</style>
