<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://kit.fontawesome.com/fa3685e359.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"></script>
    <title>Test</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2" style="color: black;">
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="container-fluid">
            <h4>Index of Home:<%= path%></h4>
            <label>Filter by:</label>
            <select id="filter_type" name="filter_type" onchange="filterChange()">
              <option value="name" <% if (!filter || filter == 'name') {%> selected  <% } %> >Name</option>
              <option value="size" <% if (filter == 'size') {%> selected  <% } %> >Size</option>
              <option value="file_type" <% if (filter == 'file_type') {%> selected  <% } %> >File type</option>
            </select>
            <a href="/files?path=<%= path == '/' ? '' :  path.split('/').slice(0, path.split('/').length -1).join('/') %>"><i class="fas fa-folder"></i>Back</a>
            <% const directories = files.children.filter(item => item.type == 'directory').sort((a, b) => { %>
              <% if (!filter || filter == 'name') return a.name - b.name %>
              <% if (filter == 'size') return a.size - b.size %>
              <% if (filter == 'file_type') return a.extension - b.extension %>
              <% }) %>
            <% directories.forEach(file => { %>
                <a href="/files?path=<%= (path.endsWith('/') ? path : `${path}/`)%><%= file.name%>"><i class="fas fa-folder"></i><%= file.name %></a>
          <% }) %>
          <div class="row">
            <% const fileList = files.children.filter(item => item.type == 'file').sort((a, b) => { %>
              <% if (!filter || filter == 'name') return a.name - b.name %>
              <% if (filter == 'size') return a.size - b.size %>
              <% if (filter == 'file_type') return a.extension - b.extension %>
            <% }) %>
            <% fileList.forEach(file => { %>
              <div class="col-xl-4 col-lg-6" style="padding-bottom:10px">
                <div class="card" style="width: 18rem;height:400px">
                  <% if (['.js', '.txt'].includes(file.extension)) { %>
                    <img loading="lazy" class="card-img-top lozad" data-src="https://www.freeiconspng.com/thumbs/txt-file-icon/txt-file-free-icon-18-67kb-0.jpg">
                  <% }%>
                  <% if (['.png', '.jpg', '.jpeg', '.gif', '.webp', 'jfif'].includes(file.extension)) { %>
                    <img loading="lazy" class="card-img-top lozad" data-src="<%= decodeURI(`/files${(path.endsWith('/') ? path : `${path}/`)}${file.name}`) %>" alt="Image icon" style="max-height:60%; width:auto">
                  <% } %>
                  <div class="card-body">
                    <h5 class="card-title"><%= file.name %></h5>
                    <p class="card-text">Size: <%= formatBytes(file.size) %>.</p>
                    <a href="<%= decodeURI(`/files${(path.endsWith('/') ? path : `${path}/`)}${file.name}`) %>" class="btn btn-primary">Access file</a>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2" style="color: black;">
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  });
  //document.getElementById('load-now').addEventListener('click', function() {
    //for (const img of document.getElementsByTagName('img')) {
      //img.loading = 'eager';
    //}
  //});

  function filterChange() {
    var x = document.getElementById("filter_type").value;
    console.log(window.location)
    console.log(window.location.href.replace(`?filter=${this.filter}`, `?filter=${x}`))
    const search = `?filter=${x}`
    window.location.search = search
  }
  </script>
  <style>
    img {
      height: 340px;
    }
    #load-now {
      border: 5px solid black;
    }
  </style>
</html>
