<%- include('blocks/header') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2" style="color: black;">
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="container-fluid">
            &nbsp;
            <h4>My files</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Size</th>
                  <th scope="col">Date modified</th>
                </tr>
              </thead>
              <tbody>
                <% for (const file of files.children) { %>
                  <tr class="clickable-row" data-href="<%= decodeURI(`${path == '/' ? '/files' : path}/${file.name}`) %>">
                    <th scope="row"><%= file.name %></th>
                    <% if (file.type == 'directory') { %>
                      <td><%= file.children?.length ?? 0 %> files</td>
                    <% } else { %>
                      <td><%= formatBytes(file.size) %></td>
                    <% } %>
                    <td><%= file.modified?.toDateString() %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-2 col-md-2" style="color: black;">
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function() {
    const observer = lozad();
    observer.observe();
  });

  $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });

  function filterChange() {
    var x = document.getElementById("filter_type").value;
    console.log(window.location)
    console.log(window.location.href.replace(`?filter=${this.filter}`, `?filter=${x}`))
    const search = `?filter=${x}`
    window.location.search = search
  }
  </script>
  <style>
    img {
      height: 340px;
    }
    tr:hover {
      cursor:hover
    }
    #load-now {
      border: 5px solid black;
    }
  </style>
</html>
