<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="manifest" href="/js/pwa.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Save your files to File sharer and access them from any device, anywhere. Learn more and get 5 GB of free cloud storage today.">
    <link rel="apple-touch-icon" href="/img/apple-touch.png">
    <meta name="theme-color" content="#106eea"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="File Sharer">
    <meta property="og:description" content="Save your files to File sharer and access them from any device, anywhere. Learn more and get 5 GB of free cloud storage today.">
    <meta property="og:image" content="/favicon.ico">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/fa3685e359.js" crossorigin="anonymous"></script>
    <script async src="https://arc.io/widget.min.js#Wa9QgvFs"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/css/file-directory.css" type="text/css">
    <title>File Sharer</title>
  </head>
  <body>
  <div class="wrapper">
    <%- include('./sidebar.ejs', {active: 'users'}) %>
    <!-- Page Content  -->
    <div class="container-fluid" id="content">
      <%- include('../blocks/file-navbar.ejs', {user}) %>
      &nbsp;
      <h3>User Information</h3>
      &nbsp;
      <%- include('../partials/message', { error })%>
      <div class="row">
        <!--Overall information-->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Users
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= users.length%></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    Paying users
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <%= users.filter(user => user.group !== "Free").length%>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                    Total storage (<%= formatBytes(totalSize)%>)
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= formatBytes(size)%></div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar"
                          style="width: <%= (size / totalSize)*100 %>%" aria-valuenow="<%= size / totalSize%>" aria-valuemin="0"
                          aria-valuemax="<%= totalSize%>"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    Average storage per a user
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= formatBytes(size / users.length)%></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Pie chart-->
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">User connections</h6>
            </div>
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                <canvas id="userConnections"></canvas>
              </div>
              <div class="mt-4 text-center small">
                <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Google
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Facebook
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-info"></i> Twitter
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-info"></i> Email
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">User growth</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">User verification</h6>
            </div>
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                <canvas id="userverification"></canvas>
              </div>
              <div class="mt-4 text-center small">
                <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Verified
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Not-verified
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-responsive-sm table-hover" id="myTable">
        <thead>
          <tr>
            <th>ID <i class="bi bi-arrow-down-up"></i></th>
            <th>Name <i class="bi bi-arrow-down-up"></i></th>
            <th>Email <i class="bi bi-arrow-down-up"></i></th>
            <th>Tier <i class="bi bi-arrow-down-up"></i></th>
            <th>Connections <i class="bi bi-arrow-down-up"></i></th>
            <th>filesize <i class="bi bi-arrow-down-up"></i></th>
            <th>Options <i class="bi bi-arrow-down-up"></i></th>
          </tr>
        </thead>
        <tbody>
          <!--Show folders first-->
          <% for (const user of users) { %>
            <tr>
              <th><%= user._id %></th>
              <td><%= user.name %></td>
              <td><%= user.email ?? user.google.email%></td>
              <td><%= user.group ?? 'Free' %></td>
              <td>
                <% if (user.twitter.id) { %>
                  <div class="btn btn-twitter btn-login text-uppercase fw-bold">
                    <i class="fab fa-twitter"></i>
                  </div>
                  &nbsp;
                <% } %>
                <% if (user.google.id) { %>
                  <div class="btn btn-google btn-login text-uppercase fw-bold">
                    <i class="fab fa-google me-2"></i>
                  </div>
                  &nbsp;
                <% } %>
                <% if (user.facebook.id) { %>
                  <div class="btn btn-facebook btn-login text-uppercase fw-bold">
                    <i class="fab fa-facebook-f me-2"></i>
                  </div>
                  &nbsp;
                <% } %>
              </td>
              <td><%= formatBytes(user.size || 0) %></td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" data-toggle="modal" data-target="#deleteAccount" data-href="<%= user._id%>">Delete account</button>
                    <button class="dropdown-item" data-toggle="modal" data-target="#changeTier" data-href="<%= user._id%>">Change tier</button>
                    <button class="dropdown-item" data-toggle="modal" data-target="#resetPassword" data-href="<%= user._id%>">Reset password</button>
                  </div>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <!-- Delete account popup -->
      <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
              <form class="account-delete" action="/api/account-delete" method="post">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Change tier popup -->
      <div class="modal fade" id="changeTier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change user's tier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="change-tier" action="/api/account/tier" method="post">
              <input type="hidden" class="custId" name="custId">
              <div class="modal-body">
                <select name="tier" class="custom-select" aria-label="Default select example">
                  <option value="Free">Free</option>
                  <option value="Dev">Developer</option>
                  <option value="Business">Business</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Reset password popup -->
      <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reset account's password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
              <form class="account-delete" action="/api/account/reset" method="post">
                <input type="hidden" class="custId" name="custId">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  //Update delete account modal based on user ID
  $('#deleteAccount').on('show.bs.modal', function(e) {
    $(this).find('.custId').attr('value', $(e.relatedTarget).data('href'))
    $('.debug-url').html('Are you sure want to delete ' + $(e.relatedTarget).data('href') + '\'s account');
  });

  //Update change modal tier based on user ID
  $('#changeTier').on('show.bs.modal', function(e) {
    $(this).find('.custId').attr('value', $(e.relatedTarget).data('href'))
    $(this).find('.account-delete').attr('action', '/api/account-delete/' + $(e.relatedTarget).data('href'));
  });

  //Reset password modal based on user ID
  $('#resetPassword').on('show.bs.modal', function(e) {
    $(this).find('.custId').attr('value', $(e.relatedTarget).data('href'))
    $('.debug-url').html('Are you sure want to reset ' + $(e.relatedTarget).data('href') + '\'s password');
  });

  new Chart(document.getElementById("userConnections"), {
    type: 'pie',
    data: <%- JSON.stringify(userConnections)%>,
    options: {
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
      },
      legend: {
        display: false
      },
    },
  });
  new Chart(document.getElementById("userverification"), {
    type: 'pie',
    data: <%- JSON.stringify(verification)%>,
    options: {
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
      },
      legend: {
        display: false
      },
    },
  });
  new Chart(document.getElementById("myAreaChart"), {
  type: 'line',
  data: {
    labels: ["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"],
    datasets: [{
      label: "User count",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [0, 5, 7, 10, 12, 15, 20, 25, 23, 27, 28, 26],
    }],
  },
  options: {
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
    }
  }
});
</script>
<style>
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.25rem 0.5rem;
  }
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  .btn-facebook {
    font-size: 1rem;
    color: white !important;
    background-color: #3b5998;
    padding: 0.25rem 0.6rem;
  }
  .btn-twitter {
    font-size: 1rem;
    color: white !important;
    background-color: #1da1f2;
  }
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  #sidebar {
    width: 250px;
    background: #1992d4;
    transition: all 0.3s;
  }

  #sidebar .sidebar-header {
    color: black;
    padding: 20px;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
  }
  #sidebar ul li a:not(.active):hover {
    color: black;
    background: #53A5D2;
    border-radius: 8px;
  }
  .active {
    background: #157cb4;
    border-radius: 8px;
  }
  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
  }

</style>
