<%- include('../blocks/header') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2" style="color: black;">
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="container-fluid">
        &nbsp;
        <div class="row">
          <div class="col-sm-10">
            <h4><a href="/files">My files</a><%- path == '/' ? '' : ` > ${path.split('/').slice(2, path.length).map(name => `<a href="/${path.split('/').slice(1, path.split('/').indexOf(name)+1).join('/')}">${name}</a>`).join(' > ')}` %></h4>
          </div>
          <div class="col-sm-2">
            <div class="btn-group" style="float:right">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Upload</button>
              <div class="dropdown-menu dropdown-menu-right">
                <form action="/files/upload" method="post" encType="multipart/form-data" ref='uploadForm' id='uploadForm' >
                  <label class="dropdown-item" type="button" id="fileHover">
                    Files<input type="file" hidden name="sampleFile" onChange="javascript:document.getElementById('imagefile').click();" />
                  </label>
                  <input type="hidden" value="<%= path%>" name="path">
                  <button class="dropdown-item disabled" type="button">Folders</button>
                  <button type="submit" style="display:none;" id="imagefile"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        &nbsp
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Date modified</th>
            </tr>
          </thead>
          <tbody>
            <!--Show folders first-->
            <% for (const file of files.children.filter(file => file.type == 'directory')) { %>
              <tr class="clickable-row" data-href="<%= decodeURI(`${path == '/' ? '/files' : path}/${file.name}`) %>">
                <th scope="row"><%= file.name %></th>
                <td><%= file.children?.length ?? 0 %> files</td>
                <td><%= file.modified?.toDateString() %></td>
              </tr>
            <% } %>
            <% for (const file of files.children.filter(file => file.type == 'file')) { %>
              <tr class="clickable-row" data-href="<%= decodeURI(`${path == '/' ? '/files' : path}/${file.name}`) %>">
                <th scope="row"><%= file.name %></th>
                <td><%= formatBytes(file.size) %></td>
                <td><%= file.modified?.toDateString() %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 col-md-2" style="color: black;">
    </div>
  </div>
</div>
<script>
  $(document).ready(function($) {
    const observer = lozad();
    observer.observe();
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });

  //Sorts table
  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
  const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
  )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  // Activate everytime table header is clicked
  document.querySelectorAll('th')
    .forEach(th => th.addEventListener('click', (() => {
      const table = th.closest('table');
      Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr));
    })));
</script>
<style>
  img {
    height: 340px;
  }
  .clickable-row:hover {
    background: grey;
    cursor: pointer;
  }
  #load-now {
    border: 5px solid black;
  }
  #fileHover:hover {
    cursor: pointer
  }
  th:hover {
    cursor: pointer;
    background: grey;
  }
</style>
