<%- include('../blocks/header', { auth: auth }) %>
<div class="container">
  &nbsp;
  <div class="jumbotron">
    <p>File preview</p>
    <% if (fileInfo.extension == '.mp4') { %>
      <%- include('../partials/video-player', { video: file })%>
    <% } else if (['.png', '.gif', '.jpg'].includes(fileInfo.extension)) { %>
      <img src="<%= `data:${fileInfo.mimeType};base64,${Buffer.from(file).toString('base64')}` %>" style="width:50%;align:center;" />
    <% } else if (['.html', '.js', '.css'].includes(fileInfo.extension)) { %>
      <!--script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script-->
      <script src="https://unpkg.com/prettier@2.4.0/standalone.js"></script>
      <script src="https://unpkg.com/prettier@2.4.0/parser-graphql.js"></script>
      <!--pre class="prettyprint  linenums">
        <%= file.toString()%>
      </pre-->
    <% } %>
    <a href="<%= `data:${fileInfo.mimeType};base64,${Buffer.from(file).toString('base64')}` %>" download>Download</a>
  </div>
</div>


<style>
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L5,
  li.L6,
  li.L7,
  li.L8 {
    list-style-type: decimal !important;
  }
</style>
<%- include('../blocks/footer') %>
