<%- include('../blocks/header') %>
<div id="wrapper">
  <!-- Sidebar -->
  <%- include('../blocks/sidebar') %>
  <div class="container-fluid" style="padding:0px 30px 0px;">
    &nbsp;
    <div class="row">
      <div class="col-sm-10">
        <h4><a href="/recent">Recently viewed</a></h4>
      </div>
    </div>
    &nbsp
    <%- console.log(files)%>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Date modified</th>
        </tr>
      </thead>
      <tbody>
        <!--Show folders first-->
        <% for (file of files) { %>
          <tr class="clickable-row" data-href="/files<%= decodeURI(`${file.path}`) %>">
            <th scope="row" class="text-truncate" style="max-width: 150px;"><%= file.name %></th>
            <td><%= formatBytes(file.size) %></td>
            <td><%= file.modified?.toDateString() %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function($) {
    const observer = lozad();
    observer.observe();
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
  $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();
    });

    function hamburger_cross() {

      if (isClosed == true) {
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }

  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});
  //Sorts table
  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
  const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
  )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  // Activate everytime table header is clicked
  document.querySelectorAll('th')
    .forEach(th => th.addEventListener('click', (() => {
      const table = th.closest('table');
      Array.from(table.childNodes[3].querySelectorAll('tr:nth-child(n+1)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.childNodes[3].appendChild(tr));
    })));
</script>
<style>
  img {
    height: 340px;
  }
  .clickable-row:hover {
    background: grey;
    cursor: pointer;
  }
  #load-now {
    border: 5px solid black;
  }
  #fileHover:hover {
    cursor: pointer
  }
  th:hover {
    cursor: pointer;
    background: grey;
  }
  body {
   overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #000;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:993px) {
   #wrapper {
      padding-left: 250px;
   }
   #wrapper.toggled {
      padding-left: 0;
   }
   #sidebar-wrapper {
      width: 250px;
   }
   #wrapper.toggled #sidebar-wrapper {
      width: 0;
   }
   #wrapper.toggled {
      position: relative;
      margin-right: 0;
   }
}

</style>
