<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><%= companyName%><span>.</span></h3>
          <p>
            <%= slogan%>
            <br>
            <br>
            <strong>Phone:</strong> <%= phone%><br>
            <strong>Email:</strong> <%= email%><br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/terms-and-conditions">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about-us">Contact us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Cloud storage</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://discord.gg/8g6zUQu">Discord bot</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Go give us a follow for the latest updates and events.</p>
          <div class="social-links mt-3">
            <a href="/social/twitter" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="/social/facebook" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="/social/instagram" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="/social/linkedin" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span><%= companyName%></span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
